# Lab Customer Analysis Round 2
For this lab, we will be using the marketing_customer_analysis.csv file that you can find in the files_for_lab folder. Check out the files_for_lab/about.md to get more information if you are using the Online Excel.

Note: For the next labs we will be using the same data file. Please save the code, so that you can re-use it later in the labs following this lab.

Dealing with the data
1. Show the dataframe shape.
2. Standardize header names.
3. Which columns are numerical?
4. Which columns are categorical?
5. Check and deal with NaN values.
6. Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. Hint: If data from March does not exist, consider only January and February.
BONUS: Put all the previously mentioned data transformations into a function.

In [1]:
# import the necessary libraries
import pandas as pd
import numpy as np

#read the csv file into a pandas dataframe

customers = pd.read_csv('C:/Users/Ish/Documents/Ironhack Bootcamp/Day 2/lab-customer-analysis-round-2/files_for_lab/csv_files/marketing_customer_analysis.csv', index_col = [0])

# view the data frame
print(customers.head())

# view the shape of the dataframe
print(customers.shape)

  Customer       State  Customer Lifetime Value Response  Coverage Education  \
0  DK49336     Arizona              4809.216960       No     Basic   College
1  KX64629  California              2228.525238       No     Basic   College
2  LZ68649  Washington             14947.917300       No     Basic  Bachelor
3  XL78013      Oregon             22332.439460      Yes  Extended   College
4  QA50777      Oregon              9025.067525       No   Premium  Bachelor

  Effective To Date EmploymentStatus Gender  Income  ...  \
0           2/18/11         Employed      M   48029  ...
1           1/18/11       Unemployed      F       0  ...
2           2/10/11         Employed      M   22139  ...
3           1/11/11         Employed      M   49078  ...
4           1/17/11    Medical Leave      F   23675  ...

  Number of Open Complaints Number of Policies     Policy Type        Policy  \
0                       0.0                  9  Corporate Auto  Corporate L3
1                       0.0                  1   Personal Auto   Personal L3
2                       0.0                  2   Personal Auto   Personal L3
3                       0.0                  2  Corporate Auto  Corporate L3
4                       NaN                  7   Personal Auto   Personal L2

   Renew Offer Type  Sales Channel  Total Claim Amount  Vehicle Class  \
0            Offer3          Agent          292.800000  Four-Door Car
1            Offer4    Call Center          744.924331  Four-Door Car
2            Offer3    Call Center          480.000000            SUV
3            Offer2         Branch          484.013411  Four-Door Car
4            Offer1         Branch          707.925645  Four-Door Car

  Vehicle Size Vehicle Type
0      Medsize          NaN
1      Medsize          NaN
2      Medsize            A
3      Medsize            A
4      Medsize          NaN

[5 rows x 25 columns]
(10910, 25)

In [2]:
#view column header and standardize headers
cols= [col.lower() for col in customers.columns]
print(cols)
cols[7] = 'employment status'

#update column headers
customers.columns = cols
customers.head(3)

['customer', 'state', 'customer lifetime value', 'response', 'coverage', 'education', 'effective to date', 'employmentstatus', 'gender', 'income', 'location code', 'marital status', 'monthly premium auto', 'months since last claim', 'months since policy inception', 'number of open complaints', 'number of policies', 'policy type', 'policy', 'renew offer type', 'sales channel', 'total claim amount', 'vehicle class', 'vehicle size', 'vehicle type']

,customer,state,customer lifetime value,response,coverage,education,effective to date,employment status,gender,income,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A

In [3]:
# determine which columns are numerical
print(customers.dtypes)

customer                          object
state                             object
customer lifetime value          float64
response                          object
coverage                          object
education                         object
effective to date                 object
employment status                 object
gender                            object
income                             int64
location code                     object
marital status                    object
monthly premium auto               int64
months since last claim          float64
months since policy inception      int64
number of open complaints        float64
number of policies                 int64
policy type                       object
policy                            object
renew offer type                  object
sales channel                     object
total claim amount               float64
vehicle class                     object
vehicle size                      object
vehicle type                      object
dtype: object

In [4]:
# print the columns containing numerical data

#print('Numerical Data\n',customers._get_numeric_data().T.head())

# print the columns containing categorical data
print('Categorical Data\n',customers.select_dtypes('object').T.head())

Categorical Data
              0           1           2         3         4      \
customer   DK49336     KX64629     LZ68649   XL78013   QA50777
state      Arizona  California  Washington    Oregon    Oregon
response        No          No          No       Yes        No
coverage     Basic       Basic       Basic  Extended   Premium
education  College     College    Bachelor   College  Bachelor

                          5           6                     7           8      \
customer                HO81102     IW72280               IH64929     FM55990
state                       NaN  California            California  California
response                    NaN          No                    No         Yes
coverage                  Basic       Basic                 Basic     Premium
education  High School or Below      Doctor  High School or Below     College

              9      ...    10900       10901                 10902    10903  \
customer    QX31376  ...  VN73653     RY92254               PP30874  SU71163
state        Oregon  ...   Oregon  Washington            California  Arizona
response         No  ...       No          No                    No       No
coverage   Extended  ...    Basic     Premium              Extended    Basic
education    Master  ...  College    Bachelor  High School or Below  College

                          10904     10905    10906     10907       10908  \
customer                QI63521   FE99816  KX53892   TL39050     WA60547
state                    Nevada    Nevada   Oregon   Arizona  California
response                     No        No       No        No          No
coverage                  Basic   Premium    Basic  Extended     Premium
education  High School or Below  Bachelor  College  Bachelor     College

              10909
customer    IV32877
state           NaN
response        NaN
coverage      Basic
education  Bachelor

[5 rows x 10910 columns]

In [5]:
# check for NaN values in the dataset
# determine numbers of null values by column
print('Data before removing empty rows:\n',customers.shape)
na_percent_df = pd.DataFrame(round(customers.isna().sum()/len(customers),4)*100)
na_percent_df.columns = ['PercentNaNs']
print(na_percent_df)

Data before removing empty rows:
 (10910, 25)
                               PercentNaNs
customer                              0.00
state                                 5.78
customer lifetime value               0.00
response                              5.78
coverage                              0.00
education                             0.00
effective to date                     0.00
employment status                     0.00
gender                                0.00
income                                0.00
location code                         0.00
marital status                        0.00
monthly premium auto                  0.00
months since last claim               5.80
months since policy inception         0.00
number of open complaints             5.80
number of policies                    0.00
policy type                           0.00
policy                                0.00
renew offer type                      0.00
sales channel                         0.00
total claim amount                    0.00
vehicle class                         5.70
vehicle size                          5.70
vehicle type                         50.25

In [6]:
# the column 'vehicle type' is missing more than 50% of values. This column should therefore be dropped.
customers = customers.drop(['vehicle type'], axis = 1)

In [7]:
# There are six volumns with an average of 5.76% null values.
# Rather than dropping this data it might be a better to replace the NaN values

# Replace null values for 'state'
most_common_state = customers['state'].mode()
most_common_state
customers['state'] = customers['state'].fillna(most_common_state[0])

# Replace null values for 'response'
most_common_response = customers['response'].mode()
customers['response'] = customers['response'].fillna(most_common_response[0])

#Replace null values for 'months since last claim'
most_common_mslc = customers['months since last claim'].mode()
customers['months since last claim'] = customers['months since last claim'].fillna(most_common_mslc[0])

#Replace null values for 'number of open complaints'
most_common_nooc = customers['number of open complaints'].mode()
customers['number of open complaints'] = customers['number of open complaints'].fillna(most_common_nooc[0])

# Replace null values for 'vehicle class'
most_common_v_class = customers['vehicle class'].mode()
customers['vehicle class'] = customers['vehicle class'].fillna(most_common_v_class[0])

# Replace null values for 'vehicle size'
most_common_v_size = customers['vehicle size'].mode()
customers['vehicle size'] = customers['vehicle size'].fillna(most_common_v_size[0])

na_percent_df = pd.DataFrame(round(customers.isna().sum()/len(customers),4)*100)
na_percent_df

                                 0
customer                       0.0
state                          0.0
customer lifetime value        0.0
response                       0.0
coverage                       0.0
education                      0.0
effective to date              0.0
employment status              0.0
gender                         0.0
income                         0.0
location code                  0.0
marital status                 0.0
monthly premium auto           0.0
months since last claim        0.0
months since policy inception  0.0
number of open complaints      0.0
number of policies             0.0
policy type                    0.0
policy                         0.0
renew offer type               0.0
sales channel                  0.0
total claim amount             0.0
vehicle class                  0.0
vehicle size                   0.0

In [24]:
# Date Time Format
# select months from the 'effective to date' column and store as a separate column

# convert date columne to date time format
customers['effective to date'] = pd.to_datetime(customers['effective to date'])
#customers['effective to date'].head(25)

# create a list of values from the datetime column
months = list()
for date in customers['effective to date']:
    months.append(date.month)

#create column of months using stored datetime month values
customers['month'] = months

#define function to convert numerical months to strings
def mon_stringer(m):
    months_s = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
    m = months_s[m-1]
    return m

#convert 'month' values to strings
customers['month'] = customers['month'].apply(lambda x: mon_stringer(x))

# filter values by the first quarter.
customers_first_quarter = customers[customers['month'].isin(['January','February','March'])].sort_values(by = 'month', ascending=False)
print(customers_first_quarter.head())
print(customers_first_quarter.tail())

     customer       state  customer lifetime value response  coverage  \
5455  UA94723      Oregon              4428.031583      Yes     Basic
6146  PJ73790      Oregon              3939.006370      Yes  Extended
6163  DO95670     Arizona              5073.282126      Yes  Extended
6162  MI42935  California              5654.593045       No  Extended
6161  JM67025      Nevada              5230.092742       No     Basic

                 education effective to date employment status gender  income  \
5455  High School or Below        2011-01-29          Employed      F   58577
6146              Bachelor        2011-01-28          Employed      F   60021
6163                Doctor        2011-01-30          Employed      M   57709
6162              Bachelor        2011-01-04        Unemployed      F       0
6161  High School or Below        2011-01-02          Employed      M   32630

      ... number of open complaints number of policies    policy type  \
5455  ...                       0.0                  1  Personal Auto
6146  ...                       0.0                  1   Special Auto
6163  ...                       0.0                  1  Personal Auto
6162  ...                       0.0                  7  Personal Auto
6161  ...                       0.0                  3  Personal Auto

           policy  renew offer type  sales channel  total claim amount  \
5455  Personal L3            Offer1          Agent          303.872752
6146   Special L1            Offer2          Agent          882.871945
6163  Personal L3            Offer2         Branch          600.000000
6162  Personal L2            Offer3    Call Center          597.600000
6161  Personal L2            Offer1    Call Center          202.961374

      vehicle class vehicle size    month
5455            SUV      Medsize  January
6146  Four-Door Car        Small  January
6163            SUV      Medsize  January
6162  Four-Door Car      Medsize  January
6161  Four-Door Car      Medsize  January

[5 rows x 25 columns]
     customer       state  customer lifetime value response coverage  \
2322  UF13251      Oregon              8510.758196       No    Basic
6552  AX10148  California              2409.368488       No    Basic
6551  PS78418      Oregon              5773.900390       No    Basic
2323  IE82679  California              2453.570794      Yes    Basic
0     DK49336     Arizona              4809.216960       No    Basic

                 education effective to date employment status gender  income  \
2322  High School or Below        2011-02-26          Employed      M   26032
6552              Bachelor        2011-02-01        Unemployed      F       0
6551              Bachelor        2011-02-25          Employed      M   52278
2323              Bachelor        2011-02-09     Medical Leave      M   29735
0                  College        2011-02-18          Employed      M   48029

      ... number of open complaints number of policies     policy type  \
2322  ...                       0.0                  3   Personal Auto
6552  ...                       0.0                  1   Personal Auto
6551  ...                       0.0                  3   Personal Auto
2323  ...                       0.0                  1   Personal Auto
0     ...                       0.0                  9  Corporate Auto

            policy  renew offer type  sales channel  total claim amount  \
2322   Personal L2            Offer2            Web          638.098653
6552   Personal L2            Offer4            Web          316.800000
6551   Personal L2            Offer1         Branch          234.997994
2323   Personal L2            Offer1          Agent          331.200000
0     Corporate L3            Offer3          Agent          292.800000

      vehicle class vehicle size     month
2322            SUV      Medsize  February
6552  Four-Door Car      Medsize  February
6551   Two-Door Car      Medsize  February
2323  Four-Door Car      Medsize  February
0     Four-Door Car      Medsize  February

[5 rows x 25 columns]